
html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

#main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

#left-container {
    width: 25%;
    background-color: #01579b;
}

#right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tab-div-parent{
    min-height: auto;
}

#editor {
    margin: 0;
    position: absolute;
    height: 70%;
    width: 100%;
}

#editor-div {
    height: 70%;
}

#top-conatiner {
    height: 10%;
    padding: 20px 15px;
    font-size: 22px;
    background-color: #2f322a;
    color: #f9ffff;
    margin: 0;
}

.indicator{
    background-color: #2196f3 !important;
    height: 5px;
}
#tab-div-parent{
    padding: 0;
}
#info-div{
    height: 30%;
}

.tab-area {
    color: white!important;
    background-color: #424242 !important;
    height: 100%;
}
.tab a.active{
    color: white!important;
    background-color: #424242 !important;
}
.tab a{
    color: white !important;
    background-color: #212121 !important;
}
#title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    color: #e1f5fe;
    padding: 20px;
    font-size: 20px;
}
#version{
    color: #e1f5fe;
    padding: 20px;
    font-size: 20px;
}
.button-area{
    margin: 10px;
}

#output, #message{
    padding: 10px;
    overflow: auto;
}

#input{
    padding: 10px;
    color: white;
}
#input textarea{
    color: white;
    height: 100%
}

.info-parent{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.terminal-base{
    flex-grow: 1;
    height: max-content;
    display: flex;
}